{% extends 'base.html.twig' %}

{% block title %}portfolio-Mingqiao GAO{% endblock %}

{% block body %}
<div id="content">
    <nav class="navbar navbar-danger bg-secondary">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </nav>

    <div class="collapse" id="navbarToggleExternalContent" data-bs-theme="dark">
        <div class="bg-secondary p-4">
          
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#projects">Projets</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#skills">Compétences</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#about">A propos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#contact">Contact</a>
            </li>
        </ul>
        </div>
      </div>
      
    <div id="projects" class="container-fluid">
        
        <h2 class="p-5">Projets</h2>

       
        
          <div class="row mt-4">
            <div class="col-md-5 mx-auto text-center">
                <img class="img-fluid" src="./images/Capture_page_accueil.png" alt="likebijoux" id="imgPortfolio">
                <h4 class="fs-6 text-uppercase mt-2">Like Bijoux - Site e-commerce-vente de bijoux en ligne avec paiement api stripe</h4>
                <p class="fst-italic pink">Symfony</p>
            </div>

            <div class="col-md-5 mx-auto text-center">
                <img class="img-fluid" src="./images/capturemealdb.png" alt="api randomMealDb" id="imgPortfolio">
                <h4 class="fs-6 text-uppercase mt-2"> - Api qui permet de récupérer chaque fois un random meal</h4>
                <p class="fst-italic pink">JavaScript, Ajax, Bootstrap, Api</p>
            </div>

            <div class="col-md-5 mx-auto text-center">
                <img class="img-fluid" src="./images/capturePokedex.png" alt="pokedex" id="imgPortfolio">
                <h4 class="fs-6 text-uppercase mt-2">Pokedex - Api de pokemon</h4>
                <p class="fst-italic pink">Javascript, Ajax, Css</p>
            </div>

            <div class="col-md-5 mx-auto text-center">
                <img class="img-fluid" src="./images/captureportfolio.png" alt="portfolio" id="imgPortfolio">
                <h4 class="fs-6 text-uppercase mt-2">Ce site </h4>
                <p class="fst-italic pink">Symfony, Bootstrap</p>
            </div>

            

        </div>
    </div>




    <div id="skills" class="container-fluid">

        <div class="row">

            <div class="col-12 my-auto">
                <h2 class="p-5">Compétences</h2>
            </div>

            <div class="col-sm-10 offset-sm-1 col-md-6 offset-md-0 col-lg-4 p-5 logo">
                <h3>Technologies</h3>
                <div class="dropdown-divider mb-5"></div>
                    <p data-aos="fade-up" class="aos-init">HTML</p>
                    <p data-aos="fade-up" class="aos-init">CSS</p>
                    <p data-aos="fade-up" class="aos-init"> PHP</p>
                    <p data-aos="fade-up" class="aos-init">JavaScript</p>
                    <p data-aos="fade-up" class="aos-init">TypeScript</p>
                    <p data-aos="fade-up" class="aos-init">MySQL</p>
                </div>

            <div class="col-sm-10 offset-sm-1 col-md-6 offset-md-0 col-lg-4 p-5">
                <h3>Frameworks / bibliothèques</h3>
                <div class="dropdown-divider mb-5"></div>
                    <p data-aos="fade-up" class="aos-init"> Symfony</p>
                    <p data-aos="fade-up" class="aos-init"> React</p>
                    <p data-aos="fade-up" class="aos-init"> React Native</p>
                    <p data-aos="fade-up" class="aos-init"> Bootstrap</p>
                    <p data-aos="fade-up" class="aos-init">FontAwesome</p>
                    <p data-aos="fade-up" class="aos-init">Twig</p>
                </div>

            <div class="col-sm-10 offset-sm-1 col-md-6 offset-md-3 col-lg-4 offset-lg-0 p-5">
                <h3>CMS</h3>
                <div class="dropdown-divider mb-5"></div>
                      <p data-aos="fade-up" class="aos-init">PrestaShop</p>
                      
                      <p data-aos="fade-up" class="aos-init">WordPress</p>
                                       
                </div>

        </div>

    </div>


    <div id="about" class="container-fluid">

        <h2 class="p-5">À propos</h2>

        <div class="row p-5">
            <div class="col-12 text-center mb-5">
                <img src="./images/photo-gao.jpg" alt="photo de Mingqiao GAO" id="profile-picture">
            </div>
            <div class="col-md-8 offset-md-2 text-justify">
                <p>Trilingue (français, chinois et anglais), forte d'une expérience professionnelle enrichissante, cependant, ma véritable passion pour la technologie et la programmation m'a poussé à évoluer ma carrière vers le développement web.Faisant preuve de curiosité professionnelle et envie de nouvelles connaissances, j'aime apprendre et comprendre. Grâce à mes précédentes expériences et formations, je sais m’adapter à toute situation et garder le sens du détail. N’hésitez donc pas à me contacter pour en apprendre plus sur moi. Hâte de pouvoir en discuter avec vous!😊</p>
            </div>
            <div class="col-12 text-center my-5 mb-md-0">
                <a class="btn btn-outline-light" href="#" target="blank" role="button">Voir mon CV</a>
            </div>
        </div>

    </div>


    <div id="contact" class="container-fluid">

        <h2 class="p-5">Contact</h2>

        <div class="row">

                                                                                                    
            <div class="col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 p-5">
                <h3>Formulaire de contact</h3>
                <div class="dropdown-divider mb-5"></div>
                <form name="contact" method="post">
                    <div class="row">
                        <div class="col-md-3 my-auto">
                            <p data-aos="fade-up" class="aos-init"><label for="contact_nom" class="required">Nom</label></p>
                        </div>
                        <div class="col-md-9">
                            <p data-aos="fade-up" class="aos-init"><input type="text" id="contact_nom" name="contact[nom]" required="required" class="form-control"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 my-auto">
                            <p data-aos="fade-up" class="aos-init"><label for="contact_prenom" class="required">Prenom</label></p>
                        </div>
                        <div class="col-md-9">
                            <p data-aos="fade-up" class="aos-init"><input type="text" id="contact_prenom" name="contact[prenom]" required="required" class="form-control"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 my-auto">
                            <p data-aos="fade-up" class="aos-init"><label for="contact_email" class="required">Email</label></p>
                        </div>
                        <div class="col-md-9">
                            <p data-aos="fade-up" class="aos-init"><input type="email" id="contact_email" name="contact[email]" required="required" class="form-control"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 my-auto">
                            <p data-aos="fade-up" class="aos-init"><label for="contact_objet" class="required">Objet</label></p>
                        </div>
                        <div class="col-md-9">
                            <p data-aos="fade-up" class="aos-init"><input type="text" id="contact_objet" name="contact[objet]" required="required" class="form-control"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 my-auto">
                            <p data-aos="fade-up" class="aos-init"><label for="contact_message" class="required">Message</label></p>
                        </div>
                        <div class="col-md-9">
                            <p data-aos="fade-up" class="aos-init"><textarea id="contact_message" name="contact[message]" required="required" class="form-control"></textarea></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 text-center">
                            <p data-aos="fade-up" class="aos-init"><button type="submit" id="contact_envoyer" name="contact[envoyer]" class="btn-outline-light btn">Envoyer</button></p>
                        </div>
                    </div>
                <input type="hidden" id="contact__token" name="contact[_token]" value="92dd4748f455fa7c9e14bf4a11c1d7._VoOs3tNnTC82t8uf3Y1vIl2hqDUIrYFcODGytXvVmk.lD1bwjQFrmTrie5eFwdY8O9B48msQ4VtPqyhgZ6OGxO5b2XrERLXcY61uA"></form>
            </div>
            
        </div>

    </div>

</div>
{% endblock %}
